.app-header {
    margin: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    top: 0;
}

.app-header a {
    text-decoration: none;
    color: black;
    padding: 20px;
}