.app-header {
    margin: 0;
    background-color: #822E81;
    color: white;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 50px;
    align-items: center;
}

.app-header a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.logo {
    font-size: 30px;
}