.notes-container {
    column-count: 3;
    column-fill: auto;
    margin: 0 20px;
}

.note {
    background-color: #F2C288;
    margin-bottom: 20px;
    padding: 0.8em 0 0.8em 0.8em;
    break-inside: avoid;
    /* border: #113340 2px solid; */
}

.edit-text-input {
    background: whitesmoke;
    width: 50%;
    /* height: 20%; */
    padding: 10px;
}

.search-note {
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
}

.note-img-container {
    padding-top: 40px;
    padding-bottom: 20px;
}

.note-vid-container {
    padding-top: 40px;
    padding-bottom: 20px;
}

.note-text img,
.note-vid img,
.note-todo img,
.note-img-image {
    height: 20px;
    display: flex;
    opacity: 50%;
}

.buttons-container-edit button .pin {
    transform: rotate(45deg);
}

.pinned-active {
    filter: invert(100%);
    opacity: 100%;
}

.note-vid iframe {
    height: 150px;
    width: 250px;
}

.edit-txt {
    border-radius: 5px;
    background-color: #E8E8E8;
}

.done {
    text-decoration: line-through;
    cursor: pointer;
}

.undone {
    text-decoration: none;
    cursor: pointer;
}

.menu-img {
    display: none;
    height: 20px;
}

@media (max-width: 920px) {
    .notes-container {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .notes-container {
        column-count: 1;
    }
}