/* input {
    width: 300px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    margin-bottom: 5px;
} */

.note-add {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    background-color: white;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pinned {
    height: 40px;
    margin-bottom: 20px;
    transform: rotate(45deg);
}

.main-input {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

label {
    cursor: pointer;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

label img {
    height: 20px;
    opacity: 50%;
}

label img:hover {
    opacity: 100%;
}

.notes-container-image {
    height: 20px;
}

.notes-container-image .pin {
    transform: rotate(45deg);
}
