.notes-container {
    column-count: 3;
    column-fill: auto;
}

.note {
    /* width: ; */
    /* height: 100px; */
    background-color: rgb(250, 250, 124);
    margin-bottom: 5px;
    padding: 15px 20px;
    break-inside: avoid;
}

.note-img-container {
    /* height: 150px; */
    /* width: 250px; */
}

.note-text img,
.note-vid img,
.note-todo img,
.note-img-image {
    height: 20px;
    display: flex;
}

.note-vid iframe {
    height: 150px;
    width: 250px;
}

.done {
    text-decoration: line-through;
    cursor: pointer;
}

.undone {
    text-decoration: none;
    cursor: pointer;
}