.emails-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

.email-filter {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    background-color: white;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-filter {
    width: 100%;
    height: 100%;
}

.td {
    width: 30px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    width: 130px;
}

.left-bar-item {
    font-size: 20px;
    padding: 0 20px 15px 0;
    font-family: 'Times New Roman', Times, serif;
}

.email-side-bar {
    margin-top: -2px;
}

.email-side-bar * {
    cursor: pointer;
    padding: 10px 10px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.email-side-bar img {
    height: 20px;
}

.item {
    display: flex;
    box-sizing: border-box;
    margin-top: -15px;
    margin-left: 7px;
}

.txt-side-bar {
    margin-bottom: 10px;
}

.email-bar {
    display: flex;
    background-color: white;
}

.search {
    padding: 5px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.compose {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    border: 0;
    color: #5f6368;
    cursor: pointer;
    margin: 20px;
    transition: all 0.4s;
    margin-top: 68px;
    margin-left: 6px;
}

.new-mail {
    margin: 40px 20px;
    background-color: white;
    width: 100%;
    border: grey 2px solid;
    display: flex;
    flex-direction: column;
}

.new-msg {
    background-color: black;
    color: white;
    padding: 7px;
    font-weight: 700;
    border: grey 2px solid;
}

.txt-input {
    width: 100%;
    margin-bottom: 10px;
}

.email-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.email-bottom button {
    height: 50px;
    cursor: pointer;
}

.email-bottom img {
    height: 30px;
}

.email-bottom-right {
    display: flex;
    justify-content: flex-start;
}

.email-bottom-left {
    display: flex;
}

.buttons-container-edit {
    margin-top: -22px;
}

.buttons-container-edit button {
    opacity: 50%;
}
.buttons-container-edit button .pin{
    transform: rotate(45deg);
}

.buttons-container-edit button:hover {
    opacity: 100%;
}