.emails-container {
    display: flex;
    flex-direction: column;
}

.left-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    width: 130px;
}

.left-bar-item {
    font-size: 20px;
    padding: 0 20px 15px 0;
    font-family: 'Times New Roman', Times, serif;
}

.email-side-bar * {
    padding: 5px;
}

.email-bar {
    display: flex;
    background-color: white;
}

.search {
    padding: 5px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.compose {
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-bottom: 15px;
}

.new-mail {
    background-color: white;
    width: 100%;
    border: grey 2px solid;
    display: flex;
    flex-direction: column;
}

.new-msg {
    background-color: black;
    color: white;
    font-weight: 700;
    border: grey 2px solid;
}

.txt-input {
    width: 100%;
}

.email-bottom {
    margin: 0 auto;
    display: flex;
}

.email-bottom button {
    height: 50px;
    cursor: pointer;
}

.email-bottom img {
    height: 30px;
}

.email-bottom-right {
    display: flex;
    justify-content: flex-start;
}

.email-bottom-left {
    display: flex;
    align-items: flex-end;
}