.email-preview {
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: lightgray 1px solid;
    cursor: pointer;
}

.email-preview a {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

.unread {
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}

.read {
    font-weight: 200;
    text-decoration: none;
    padding: 10px;
}

.email-preview img {
    height: 20px;
    cursor: pointer;
}

.email-preview button {
    padding: 10px;
    width: 40px;
}

.email-content {
    width: 100%;
    padding: 25px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.email-sender {
    width: 10vw;
    padding: 10px 0 10px 0;
}

.email-title {
    width: 70%;
    padding: 15px 0 0 7px;
}

.email-content-extended {
    width: 40vw;
    padding: 20px 0px;
    text-overflow: unset;
}

.star {
    padding: 20px 10px;
}

.email-date {
    width: 50px;
    padding: 20px;
}