.email-preview {
    display: flex;
    /* display: grid;
    grid-template-rows: ;
    grid-template-columns: ; */
    background-color: white;
}

.email-preview a {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

.email-item {
    text-decoration: none;
    padding: 10px;
}

.bold {
    font-weight: 700;
}

.email-sender {}

.email-title {}

.email-content {}

.email-date {}