.email-preview {
    display: flex;
    /* width: 100%; */
    background-color: white;
    border-bottom: lightgray 1px solid;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 0 0 10px;
}

.open-email-preview{
    flex-direction: column;
}

.email-preview a {
    text-decoration: none;
}

.email-main-section {
    display: flex;
    /* width: 400px; */
}

.email-secondary-section {
    display: flex;
}

.email-secondary-section-open {
    display: flex;

}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

.unread {
    text-decoration: none;
    padding: 10px 0 0 0;
    font-weight: 700;
    left: 0;
    /* padding: 25px 0 0 0; */
}

.read {
    font-weight: 200;
    text-decoration: none;
    /* padding: 10px; */
    padding: 10px 0 0 0;
    left: 0;
    /* padding: 25px 0 0 0; */
}

.email-preview img {
    height: 20px;
    cursor: pointer;
}

.email-preview button {
    padding: 10px;
    width: 40px;
}

.star {
    padding: 25px 0 0 0;
    /* padding: 30px 10px 0 10px; */
}

.email-sender {
    /* width: 10vw; */
    min-width: 110px;
    /* padding: 25px 0 0 0; */
    /* padding: 35px 0 0 25px; */
    padding: 10px 0 10px 0;
}

.email-title {
    /* width: 70%; */
    min-width: 210px;
    /* padding: 15px 0 0 7px; */
    padding: 10px 0 0 20px;
}

.email-content {
    /* width: 100%; */
    
    
    min-width: 250px;
    /* padding: 35px 0 0 25px; */
    padding: 25px 0 0 0;
}

.email-content-expended {
    /* width: 60%; */
    max-width: 640px;
    padding: 35px 0 0 25px;
}

.email-date {
    width: 50px;
    padding: 10px 20px 0 10px;
    margin-left: 60px;
    display: flex;
}

.send-button {
    color: white;
    background: #1a73e8;
    text-align: center;
    padding: 12px 17px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    margin: 5px;
}

.draft-button {
    margin: 7px;
}

.draft-button img {
    height: 40px;
}


@media (max-width: 980px) {
    .email-preview{
        justify-content: space-between;
    }
    /* .email-item{ */
        /* width: -10%; */
        /* display: none; */
    /* } */
    .email-title{
        padding-left: 1.8em;
        width: 10em;
    }
    .email-content{
        /* margin-left: 1.8em; */
        width: 70%
    }
    .email-date{
        margin-left: 1.8em;
        margin-right: 0.8em
    }
}

@media (max-width: 830px){
    .email-title{
        padding-left: 1em;
        width: 5em;
    }

}

@media (max-width: 760px) {
    .email-title{
        padding-left: 1em;
        width: 10em;
    }
    .email-content{
        margin-left: 0;
        display: none;
        width: 35%;
        padding-left: 1em;
    }
    .open-email-preview{
        flex-direction: column;
    }
    .email-content-expended{
        display: block;
    }
}

@media (max-width: 760px) {
    .txt-side-bar{
        /* font-size: 0.8em; */
        display: none;
    }
    .email-side-bar * {
        padding: 10px 10px;
    }
    .email-content-expended{
        width: 95%;
    }
    .email-sender{
        margin-left: 5em;
    }
    .email-date{
        margin-left: 0;
        padding-left: 0;
    }
    .unread{
        padding-left: 0;
    }
}

@media (max-width: 540px) {
    .email-side-bar * {
        padding: 5px 5px;
    }
    .email-sender{
        margin-left: 0.8em;
    }
    .new-mail{
        width: 90%;
    }
}